/*-- Style the body --*/

body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;

}
/* Top half div styling */
.top-half-container{
}

/* Image and site description styling */

.image-site-description-container{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero-image{
    max-width: 50%;
    display: flex;
}

.site-description-text{
    text-align: center;
}

/* Styling elements for the colour boxes in the top div */

/* #colour-box{
    height: 100px;
    width: 100px;
    border: 2px solid red;
} */

.colour-box-1{
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

.colour-box-2{
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

.colour-box-3{
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

.colour-box-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}