

/*-- Style the body --*/



#colour-box {
  height: 100px;
  width: 100px;
  border: 2px solid red;
}

.colour-box-container {
  display: inline-flex;
}

/* Top half div styling */
/* .top-half-container{
} */

/* Image and site description styling */

.image-site-description-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-image {
  max-width: 50%;
  display: flex;
}

.site-description-text {
  text-align: center;
}

/* Styling elements for the colour boxes in the top div */

.colour-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.colour-box-1 {
  width: 100%;
  height: 0;
  padding-top: 100%;
  border: 2px solid red;
  display: flex;
}

.colour-box-2 {
  width: 100%;
  height: 0;
  padding-top: 100%;
  border: 2px solid red;
  display: flex;
}

.colour-box-3 {
  width: 100%;
  height: 0;
  padding-top: 100%;
  border: 2px solid red;
  display: flex;
}

.colour-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.big-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

#big-button {
  align-self: center;
  font-size: 20px;
  width: 100%;
  height: 100px;
}

.top-half-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-description {
  padding-top: 1rem;
  text-align: center;
}

/*------ start of quotes section css ------*/
/* entire quotes section */
.quotes {
  display: flex;
  flex-direction: column;
}

/* quotes navbar */
.quotesNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: lightgray;
}

.quotesNavbar img {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

button {
  padding: 14px 24px;
  background-color: grey;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

button:hover {
  border: 2px solid grey;
  background-color: white;
  color: grey;
}

/* quotes hero section */
.quotesHero {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  padding: 24px;
  background-color: grey;
}

.heroContainer {
  display: flex;
  justify-content: center;
  padding: 48px 0;
  width: 75%;
  margin: auto;
}

/* quotes hero image */
.quotesHeroImage {
  display: flex;
  width: 50%;
  margin: auto;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

/* quotes hero text section */
.quotesHeroText {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 50%;
  margin: auto;
}

.quotesHeroText h1 {
  font-size: 48px;
  padding-left: 24px;
}

.quotesHeroText p {
  font-size: 24px;
  padding-left: 24px;
  font-style: italic;
}

/* quote cards section */
.quotesPanel {
  display: flex;
  justify-content: center;
  padding: 24px;
  background-color: lightgray;
}

.panelContainer {
  display: flex;
  width: 75%;
  padding: 48px 0;
}

/* individual quote card */
.quotesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  width: 20%;
  margin: 0 auto;
  box-shadow: 0 2px 8px 0 #83898a;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}


/* navbar styling */


* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}



